<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% stylesheets filter="cssrewrite"
		'bundles/dzangocartsubscription/vendor/bootstrap/dist/css/bootstrap.min.css'
		'bundles/dzangocartsubscription/vendor/font-awesome/css/font-awesome.min.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}

	{% block dzangocart_subscription_head_style %}{% endblock %}

	{% block dzangocart_subscription_head_script %}
		<script>
			var dzangocart_subscription = {
				locale: "{{ app.request.locale }}"
			};
		</script>
	{% endblock %}
</head>

<body class="{% block dzangocart_subscription_page_class %}{% endblock %}">
	<div class="container">
		{% block dzangocart_subscription_page_nav %}{% endblock %}
		{% block dzangocart_subscription_page_header %}
			<h2>{% block dzangocart_subscription_page_title %}{% endblock %}</h2>
		{% endblock %}
		{% block dzangocart_subscription_content %}{% endblock %}

		{% javascripts
			'bundles/dzangocartsubscription/vendor/jquery/dist/jquery.min.js'
			'bundles/dzangocartsubscription/vendor/bootstrap/dist/js/bootstrap.min.js'
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

		{% block dzangocart_subscription_foot_script %}{% endblock %}
	</div>
</body>
</html>
