{% spaceless %}
	<div class="plan" id="{{ plan.id }}">
		<ul>
			<li class="title">
				{{ plan.name }}
			</li>
			<li class="description">
				{{ plan.description }}
			</li>

			{% include "DzangocartSubscriptionBundle:Pricing:price.html.twig" %}

			{% for planfeature in plan.features %}
				{% include "DzangocartSubscriptionBundle:Pricing:feature.html.twig" %}
			{% endfor %}


		</ul>
	</div>
{% endspaceless %}
