{% spaceless %}
	<div class="plan">
		<ul>
			<li class="title">
				{{ plan.name }}
			</li>
			<li class="description">
				{{ plan.description }}
			</li>
			
			{% include "DzangocartSubscriptionBundle:pricing:price.html.twig" %}

			{% for feature in plan.features %}
				{% include "DzangocartSubscriptionBundle:pricing:feature.html.twig" %}
			{% endfor %}

			{% include "DzangocartSubscriptionBundle:pricing:signup.html.twig" %}
		</ul>
	</div>
{% endspaceless %}
