{% extends "DzangocartSubscriptionBundle:Admin:layout.html.twig" %}

{% block plan_page_title %}
	<h2>{% trans from "feature" %}feature.features.create.title{% endtrans %}</h2>
{% endblock %}

{% block plan_content %}
	{{ form(form) }}
{% endblock %}

{% block stylesheets %}
{% endblock %}