{% extends "DzangocartSubscriptionBundle::admin.html.twig" %}

{% trans_default_domain "dzangocart_subscription_feature" %}

{% block dzangocart_subscription_page_nav %}
	<a href="{{ path('dzangocart_subscription_features') }}">{% trans %}feature.edit.cancel{% endtrans %}</a>
{% endblock %}

{% block dzangocart_subscription_page_title %}
	<h2>{% trans %}feature.edit.page_title{% endtrans %}: {{ feature.name }}</h2>
{% endblock %}

{% block dzangocart_subscription_content %}
	{{ form(form) }}
{% endblock %}
