{% extends "DzangocartSubscriptionBundle:Admin:layout.html.twig" %}

{% block plan_page_title %}
	<h2>{% trans from "features" %}features.list{% endtrans %}</h2>
{% endblock %}

{% block plan_content %}
	Display all the plan features
{% endblock %}

{% block stylesheets %}
{% endblock %}
