.content {
    overflow: visible;
}

table.table td.actions {
	overflow: visible;
}

table.table td.actions .dropdown-toggle {
	text-align: center;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.features table.table th.rank { width: 4em; }
.features table.table th.description { width: 45em; }
.features table.table th.name {}
.features table.table th.actions {
	text-align: center;
	width: 36px;
	box-sizing: border-box;
}