table.table td.actions {
	overflow: visible;
}

table.table td.actions .dropdown-toggle {
	text-align: center;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.plans table.table tr.disabled,
.plans table.table tr.inactive {
	background-color: #ddd;
}

.plans table.table tr.default {
	background-color: green;
}

.plans table.table th.rank { width: 4em; }
.plans table.table th.date { width: 9em; }
.plans table.table th.price { width: 6em; }
.plans table.table th.actions {
	text-align: center;
	width: 36px;
	box-sizing: border-box;
}

.plan .features table.table th.value {
	width: 18em;
}

.plan .features table.table th.unit,
.plan .features table.table th.period {
	width: 10em;
}
