.plans table.list tr.disabled,
.plans table.list tr.inactive {
	background-color: #ddd;
}

.plans table.list tr.default {
	background-color: green;
}

.plans table.list th.check { width: 1.5em; }
.plans table.list th.rank { width: 4em; }
.plans table.list th.description { width: 15em; }
.plans table.list th.date { width: 9em; }
.plans table.list th.price { width: 6em; }
.plans table.list th.actions { width: 6em; }


