[class*="col-"].span-centered {
	margin-left: auto;
	margin-right: auto;
float: none;
}

.plan ul {
	position: relative;
	list-style: none;
	margin: 0;
	z-index: 1;
	padding: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.plan.border-plan {
	border: 3px solid #ccc;
}
