[class*="col-"].span-centered {
	margin-left: auto;
	margin-right: auto;
float: none;
}

.centered {
	text-align: center;
}

.plan {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.plan .title,
.plan .price,
.plan .label,
.plan .button {
	border-bottom: none !important;
}

.plan .title {
	color: #ecf0f1;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}

.plan .label {
	color: #ecf0f1;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	text-align: center;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.plan .price {
	position: relative;
	font-size: 18px;
	font-weight: bold;
	background-color: #ecf0f1;
	padding: 15px;
	text-align: center;
}

.plan .price .currency-symbol {
	position: relative;
	top: -17px;
	color: #77939a;
}

.plan .price strong {
	font-size: 44px;
	line-height: 44px;
	display: inline-block;
}

.plan .price sup {
	position: relative;
	top: -20px;
}

.plan .price em {
	position: relative;
	bottom: -2px;
	font-size: 14px;
	font-weight: normal;
	color: #a3b6bb;
}

.plan .button {
	padding: 15px;
	text-align: center;
}

.plan .button .btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ecf0f1;
	background-color: #ecf0f1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.plan .button .btn:hover {
	background-color: #dde4e6;
	color: #fbfcfc;
}

.plan .button.colored {
	position: relative;
}

.plan .button.colored:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.plan .button.colored:after {
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}

.plan ul {
	position: relative;
	list-style: none;
	margin: 0;
	z-index: 1;
	padding: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.plan ul li {
	color: #77939a;
	background-color: #ffffff;
	padding: 10px;
	border-bottom: 1px solid #ecf0f1;
}
