{% spaceless %}
{% trans_default_domain "dzangocart_subscription" %}
<ul>
	<li>
		<a href="{{ path('dzangocart_subscription_plan_show', { id: plan.id }) }}">
			{% trans %}plan.plans.actions.show{% endtrans %}
		</a>
	</li>
</ul>
{% endspaceless %}