{% extends "DzangocartSubscriptionBundle:Admin:layout.html.twig" %}

{% block plan_page_title %}
	<h2>{% trans from "plans" %}plans.create{% endtrans %}</h2>
{% endblock %}

{% block plan_content %}
	Page to create new Plan.
{% endblock %}

{% block stylesheets %}
{% endblock %}