{% extends "DzangocartSubscriptionBundle::admin.html.twig" %}

{% trans_default_domain "dzangocart_subscription" %}

{% block dzangocart_subscription_head_style %}
{% endblock %}

{% block dzangocart_subscription_page_nav %}
	<a href="{{ path('dzangocart_subscription_plans') }}">{% trans %}plan.create.cancel{% endtrans %}</a>
{% endblock %}

{% block dzangocart_subscription_page_title %}{% trans %}plan.create.page_title{% endtrans %}{% endblock %}

{% block dzangocart_subscription_content %}
	{{ form(form) }}
{% endblock %}
