{% extends "DzangocartSubscriptionBundle:Admin:layout.html.twig" %}

{% block plan_page_title %}
	<h2>{% trans from "plan" %}plan.plans.edit{% endtrans %}</h2>
{% endblock %}

{% block plan_content %}
	{{ form(form) }}
{% endblock %}

{% block stylesheets %}
{% endblock %}
