{% trans_default_domain "dzangocart_subscription" %}

<table class="table table-condensed noajax plans">
	<thead>
		<tr>
			<th class="rank">{% trans %}plan.plans.rank{% endtrans %}</th>
			<th class="name">{% trans %}plan.plans.name{% endtrans %}</th>
			<th class="date">{% trans %}plan.plans.from{% endtrans %}</th>
			<th class="date">{% trans %}plan.plans.to{% endtrans %}</th>
			<th class="price">{% trans %}plan.plans.price{% endtrans %}</th>
			<th class="actions"><i class="fa fa-cog"></i></th>
		</tr>
	</thead>

	{% include "DzangocartSubscriptionBundle:Plan:plans_tbody.html.twig" %}

	<tbody class="loading"></tbody>
</table>
