{% trans_default_domain "dzangocart_subscription" %}

<h3>{% trans %}plan.prices.title{% endtrans %}</h3>

<table class="table">
	<thead>
		<tr>
			<th class="name">{% trans %}plan.feature.name{% endtrans %}</th>
			<th class="value">{% trans %}plan.feature.value{% endtrans %}</th>
			<th class="unit">{% trans %}plan.feature.unit{% endtrans %}</th>
			<th class="period">{% trans %}plan.feature.period{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

{{ form(form) }}