{% extends "DzangocartSubscriptionBundle::admin.html.twig" %}

{% trans_default_domain "dzangocart_subscription" %}

{% block dzangocart_subscription_head_style %}
	{% stylesheets filter="cssrewrite" output="css/*.css"
		'bundles/dzangocartsubscription/vendor/autotabs/css/jquery.autotabs.css'
		'bundles/dzangocartsubscription/css/plan.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}

{% block dzangocart_subscription_page_class %}plan{% endblock %}

{% block dzangocart_subscription_page_nav %}
	<a href="{{ path('dzangocart_subscription_plans') }}">{% trans %}plan.show.cancel{% endtrans %}</a>
{% endblock %}

{% block dzangocart_subscription_page_title %}
	{% trans with { '%plan%': plan.name } %}plan.show.page_title{% endtrans %}
{% endblock %}

{% block dzangocart_subscription_content %}
<div class="tabs">
	<div id="info" class="tab-pane info">
		{{ render(controller("DzangocartSubscriptionBundle:Plan:edit", { id: plan.id })) }}
	</div>
	<div id="features" class="tab-pane features">
		{% render(controller("DzangocartSubscriptionBundle:Plan:features", { id: plan.id })) %}
	</div>
	<div id="prices" class="tab-pane prices">
		{% render(controller("DzangocartSubscriptionBundle:Plan:prices", { id: plan.id })) %}
	</div>
</div>
{% endblock %}

{% block dzangocart_subscription_foot_script %}
	{% javascripts
		'bundles/dzangocartsubscription/vendor/jquery.cookie/jquery.cookie.min.js'
		'bundles/dzangocartsubscription/vendor/autotabs/js/jquery.autotabs.min.js'
		'bundles/dzangocartsubscription/vendor/jquery-form/jquery.form.min.js'
		'bundles/dzangocartsubscription/js/plan.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
	var dzangocart_subscription_plan = {};
	</script>
{% endblock %}
